---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- 这部分可以删除，如果定义了googlescholar，就会在这里展示这句话 -->
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<HR>
<b>Publications:</b> &nbsp (<a href="https://dblp.org/pid/77/303.html">DBLP</a>)
<P>
<UL>
  <LI><b>[ISSTA 2025]</b> 
    Guangsheng Fan, Liqian Chen, Banghu Yin, Wenyu Zhang, Peisen Yao, Ji Wang. 
    <b>Program Analysis Combining Generalized Bit-Level and Word-Level Abstractions</b>.
    In Proceedings of the 34th ACM SIGSOFT International Symposium on Software Testing and Analysis (ISSTA 2025), June 25 - 28, 2025, Trondheim, Norway. 
    <!--[<a href="../files/VMCAI25_InvGen.pdf">PDF</a>]-->
  </LI>
</UL>
<UL>
  <LI><b>[IPDPS 2025]</b>
    Xin Yi, Hengbiao Yu, Liqian Chen, Xiaoguang Mao, Ji Wang, Chun Huang, Deheng Yang. 
    <b>Fine-Grained Global Search for Inputs Triggering Floating-Point Exceptions in GPU Programs</b>. 
    In Proceedings of the 39th IEEE International Parallel & Distributed Processing Symposium (IPDPS 2025), June 3-7, 2025, Milan, Italy. 
    <!--[<a href="../files/VMCAI25_InvGen.pdf">PDF</a>]-->
  </LI>
</UL>
<UL>
  <LI><b>[TOSEM 2025]</b>
    Shangwen Wang, Bo Lin, Liqian Chen, and Xiaoguang Mao.
    <b>Divide-and-Conquer: Automating Code Revisions via Localization-and-Revision</b>.
    ACM Transactions on Software Engineering and Methodology (TOSEM), Volume 34, Issue 3, Article No. 58, Pages 1-26.
    [<a href="../files/TOSEM25_CodeRev.pdf">PDF</a>]
  </LI>
</UL>
<UL>
  <LI><b>[VMCAI 2025]</b> 
    Jingyu Ke, Hongfei Fu, Hongming Liu, Zhouyue Sun, Liqian Chen and Guoqiang Li.
    <b>Affine Disjunctive Invariant Generation with Farkas' Lemma</b>.
    In Proceedings of the 26th International Conference on Verification, Model Checking, and Abstract Interpretation (VMCAI 2025), Denver, Colorado, United States, Mon 20 - Tue 21 January 2025. 
    [<a href="../files/VMCAI25_InvGen.pdf">PDF</a>]
  </LI>
</UL> 
<UL>
  <LI><b>[OOPSLA 2024]</b>
    Xin Yi, Hengbiao Yu, Liqian Chen, Xiaoguang Mao, and Ji Wang.
    <b>FPCC: Detecting Floating-Point Errors via Chain Conditions</b>.
    In Proceedings of the ACM on Programming Languages 8, OOPSLA2 (OOPSLA 2024),  Article 324 (October 2024), 28 pages. 
    [<a href="../files/OOPSLA24_FPCC.pdf">PDF</a>]
  </LI>
</UL> 
<UL>
  <LI><b>[APSEC 2024]</b>
    Shifu Yang, Liqian Chen, Banghu Yin, Minghao Li, Yuan Zhou and Ji Wang.
    <b>Sound Floating-Point Neural Network Verification with MILP</b>.
    In Proceedings of the 31st Asia-Pacific Software Engineering Conference (APSEC 2024),  December 3-6, 2024, Chongqing, China. 
    [<a href="../files/APSEC24_FPNN.pdf">PDF</a>]
  </LI>
</UL> 
<UL>
  <LI><b>[ISSTA 2024]</b>
    Bo Lin, Shangwen Wang, Ming Wen, Liqian Chen, and Xiaoguang Mao.
    <b>One Size Does Not Fit All: Multi-granularity Patch Generation for Better Automated Program Repair</b>. In Proceedings of the 33rd ACM SIGSOFT International Symposium on Software Testing and Analysis (ISSTA 2024), September 16–20, 2024, Vienna, Austria. ACM, New York, NY, USA, 13 pages. &nbsp (<span style="color:red"><b>ACM SIGSOFT Distinguished Paper Award</b></span>) &nbsp
    [<a href="../files/ISSTA24_repair.pdf">PDF</a>]    
  </LI>
</UL>
<UL>
  <LI><b>[ISSTA 2024]</b>
    Zengyu Liu, Liqian Chen, Wanwei Liu, and Ji Wang.
    <b>Synthesizing Boxes Preconditions for Deep Neural Networks</b>.
    In Proceedings of the 33rd ACM SIGSOFT International Symposium on Software Testing and Analysis (ISSTA 2024),  September 16–20, 2024, Vienna, Austria. ACM, New York, NY, USA, 12 pages.
    [<a href="../files/ISSTA24_preBox.pdf">PDF</a>]    
  </LI>
</UL>
<UL>
<LI><b>[Internetware 2024]</b>
    Cheng Weng, Yihao Qin, Bo Lin, Pei Liu and Liqian Chen.
    <b>MatsVD: Boosting Statement-Level Vulnerability Detection via Dependency-Based Attention</b>.
    In Proceedings of the 15th Asia-Pacific Symposium on Internetware (Internetware 2024), ACM, New York, NY, USA, Pages 115 - 124, July 24–26, 2024, Macau, China. 
    [<a href="../files/Internetware24_MatsVD.pdf">PDF</a>]    
  </LI>
</UL>
<UL>
  <LI><b>[Internetware 2024]</b>
    Pei Liu, Bo Lin, Yihao Qin, Cheng Weng, and Liqian Chen.
    <b> T-RAP: A Template-guided Retrieval-Augmented Vulnerability Patch Generation Approach. </b>.
    In Proceedings of the 15th Asia-Pacific Symposium on Internetware (Internetware 2024), ACM, New York, NY, USA, Pages 105 - 114, July 24–26, 2024, Macau, China. 
    [<a href="../files/Internetware24_TRAP.pdf">PDF</a>]    
  </LI>
</UL>
<UL>
  <LI><b>[ASE 2023]</b>
    Jifeng Xuan, Qi Xin, Liqian Chen and Xiaoguang Mao.
    <b>Potential Solutions to Challenges in C Program Repair: A Practical Perspective</b>.
    In Proceedings of the 38th IEEE/ACM International Conference on Automated Software Engineering (ASE 2023), IEEE, pages 1963--1968, Luxembourg, September 11-15, 2023. 
    [<a href="../files/ASE23_CRepair.pdf">PDF</a>]    
  </LI>
</UL>
<UL>
  <LI><b>[SETTA 2023]</b>
    Han Xu, Liqian Chen, Guangsheng Fan, Banghu Yin and Ji Wang.
    <b>An Abstract Domain of Linear Templates with Disjunctive Right-hand-side Intervals</b>.
    In Proceedings of the 9th International Symposium on Dependable Software Engineering: Theories, Tools, and Applications (SETTA 2023), volume 14464 of LNCS, pages 314-330, Nanjing, China, November 27-29, 2023. 
    [<a href="../files/SETTA23_ItvTmp.pdf">PDF</a>]    
  </LI>
</UL>
<UL>
  <LI><b>[JCRAD 2023]</b>
    Liqian Chen, Guangsheng Fan, Banghu Yin, Ji Wang.
    <b>Research Progress on Abstract Interpretation and Its Application</b>.
    Journal of Computer Research and Development, 2023, 60(2): 227-247. (In Chinese) &nbsp
    [<a href="../files/JCRAD23_absint.pdf">PDF</a>]    
  </LI>
</UL>   
<UL>
  <LI><b>[SCP 2023]</b>
    Liqian Chen, Dengping Wei, Banghu Yin, Ji Wang.
    <b>Static analysis of linear absolute value equalities among variables of a program</b>.
    Science of Computer Programming. Volume 225, January 2023. &nbsp
    [<a href="../files/SCP23_AVE.pdf">PDF</a>]    
  </LI>
</UL> 
<UL>
  <LI><b>[TCAD 2022]</b>
    Banghu Yin, Liqian Chen, Jiangchao Liu, Ji Wang.
    <b>Efficient Complete Verification of Neural Networks via Layer-wised Splitting and Refinement</b>.
    IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems (TCAD), Volume 41, Issue 11, Pages 3898 - 3909, November 2022. &nbsp
    [<a href="../files/TCAD22_LayerSAR.pdf">PDF</a>]    
  </LI>
</UL>   
<UL>
  <LI><b>[APSEC 2022]</b>
    Chenghu Ma, Liqian Chen, Xin Yi, Guangsheng Fan, Ji Wang.
    <b>NUMFUZZ: A Floating-Point Format Aware Fuzzer for Numerical Programs</b>.
    In Proc. of the 29th Asia-Pacific Software Engineering Conference (APSEC 2022),  Virtual, December 06-09, 2022. &nbsp
    [<a href="../files/APSEC22_NFuzz.pdf">PDF</a>]    
  </LI>
</UL> 
<UL>
  <LI><b>[ASE 2022]</b>
    Deheng Yang, Xiaoguang Mao, Liqian Chen, Xuezheng Xu, Yan Lei, David Lo, Jiayu He.
    <b>TransplantFix: Graph Differencing-based Code Transplantation for Automated Program Repair</b>.
    In Proc. of the 37th IEEE/ACM International Conference on Automated Software Engineering (ASE 2022), Oakland Center, Michigan, United States, Oct 10-14, 2022. &nbsp
    [<a href="../files/ASE22_TFix.pdf">PDF</a>]    
  </LI>
</UL>
<UL>
  <LI><b>[FASE 2022]</b>
    Liqian Chen, Renjie Huang, Dan Luo, Chenghu Ma, Dengping Wei, Ji Wang.
    <b>Estimating Worst-case Resource Usage by Resource-usage-aware Fuzzing</b>.
    In Proc. of the 25th International Conference on Fundamental Approaches to Software Engineering (FASE 2022), volume 13241 of LNCS, pages 92-101, Springer, Munich, Germany, April 2-7, 2022.   &nbsp
    [<a href="../files/FASE22_RFuzz.pdf">PDF</a>]    
  </LI>
</UL>
<UL>
  <LI><b>[FAOC 2021]</b>
    Pengfei Yang, Jianlin Li, Jiangchao Liu, Cheng-Chao Huang, Renjue Li, Liqian Chen, Xiaowei Huang, Lijun Zhang.
    <b>Enhancing Robustness Verification for Deep Neural Networks via Symbolic Propagation</b>.
    Formal Aspects of Computing, 33(3): 407-435 (2021).  &nbsp
    [<a href="../files/FAOC21_dnn.pdf">PDF</a>]  
  </LI>
</UL>
<UL>
  <LI><b>[ISSRE 2021]</b>
    Guangsheng Fan, Taoqing Chen, Banghu Yin, Liqian Chen, Tengbin Wang, Ji Wang.
    <b>Static Bound Analysis of Dynamically Allocated Resources for C Programs</b>.
    In Proc. of the 32nd International Symposium on Software Reliability Engineering (ISSRE 2021), Wuhan, China.  &nbsp
    [<a href="../files/ISSRE21_res.pdf">PDF</a>]
  </LI>
</UL>
<UL>
  <LI><b>[CP 2021]</b>
    Tengbin Wang, Liqian Chen, Taoqing Chen, Guangsheng Fan, Ji Wang.
    <b>Making Rigorous Linear Programming Practical for Program Analysis</b>.
    In Proc. of the 27th International Conference on Principles and Practice of Constraint Programming (CP 2021), Article No. 22; pp. 22:1–22:17, Leibniz International Proceedings in Informatics Schloss Dagstuhl – Leibniz-Zentrum für Informatik, Dagstuhl Publishing, Germany.  &nbsp
    [<a href="../files/CP21_rlp.pdf">PDF</a>]
  </LI>
</UL>
<UL>
  <LI><b>[TASE 2021]</b>
    Liqian Chen, Banghu Yin, Dengping Wei, Ji Wang.
    <b>An Abstract Domain to Infer Linear Absolute Value Equalities</b>.
    In Proc. of the 15th International Symposium on Theoretical Aspects of Software Engineering (TASE 2021), pages 47-54, IEEE, August 25-27, 2021, Shanghai, China. &nbsp
    [<a href="../files/TASE21_ave.pdf">PDF</a>]
  </LI>
</UL>
<UL>
  <LI><b>[FSE 2020]</b>
    Yuhao Zhang, Luyao Ren, Liqian Chen, Yingfei Xiong, Shing-Chi Cheung, Tao Xie.
    <b>Detecting Numerical Bugs in Neural Network Architectures</b>.
    In Proc. of the 2020 ACM Joint European Software Engineering Conference and Symposium on the Foundations of Software Engineering (ESEC/FSE 2020), pages 826-837, ACM, Sacramento, California, United States, November 8-13,  2020.  &nbsp (<span style="color:red"><b>ACM SIGSOFT Distinguished Paper Award</b></span>) &nbsp
    [<a href="../files/FSE20_NNBugs.pdf">PDF</a>] [<a href="../files/https://www.youtube.com/watch?v=I73na_Au5qw">VIDEO</a>] [<a href="../files/https://github.com/ForeverZyh/DEBAR">TOOL:DEBAR</a>]
  </LI>
</UL>
<UL>
  <LI><b>[ISSRE 2020]</b>
    Tao Ji, Liqian Chen, Xin Yi and Xiaoguang Mao.
    <b>Understanding Merge Conflicts and Resolutions in Git Rebases</b>.
    In Proc. of the 31st IEEE International Symposium on Software Reliability Engineering (ISSRE 2020), pages 70-80, IEEE, Coimbra, Portugal, October 12-15, 2020.  &nbsp
    [<a href="../files/ISSRE20_Merge.pdf">PDF</a>]
  </LI>
</UL>
<UL>
  <LI><b>[TR 2020]</b>
    Banghu Yin, Liqian Chen, Jiangchao Liu and Ji Wang.
    <b>Hierarchical analysis of loops with relaxed abstract transformers</b>.
    IEEE Transactions on Reliability (TR), 69(1): 203-215, 2020. &nbsp 
    [<a href="../files/TR20_Hierarch.pdf">PDF</a>]            
  </LI>
</UL>
<UL>
  <LI><b>[SAS 2019]</b>
    Banghu Yin, Liqian Chen, Jiangchao Liu, Ji Wang and Patrick Cousot.
    <b>Verifying Numerical Programs via Iterative Abstract Testing</b>.
    In Proc. of the 26th Static Analysis Symposium (SAS 2019), volume 11822 of LNCS, pages 247--267, Springer, Porto, Portugal, October 9-11, 2019. &nbsp 
    [<a href="../files/SAS19_b_AbsTesting.pdf">PDF</a>]
  </LI>
</UL>
<UL>
  <LI><b>[SAS 2019]</b>
  Jianlin Li, Jiangchao Liu, Pengfei Yang, Liqian Chen, Xiaowei Huang and Lijun Zhang.
  <b>Analyzing Deep Neural Networks with Symbolic Propagation: Towards Higher Precision and Faster Verification</b>.
  In Proc. of the 26th Static Analysis Symposium (SAS 2019), volume 11822 of LNCS, pages 296--319, Springer, Porto, Portugal, October 9-11, 2019. &nbsp 
  [<a href="../files/SAS19_a_NN.pdf">PDF</a>] 
  </LI>
</UL>
<UL>
  <LI><b>[ESEM 2019]</b>
  Shangwen Wang, Ming Wen, Liqian Chen, Xin Yi and Xiaoguang Mao.
  <b>How Different Is It Between Machine-Generated and Developer-Provided Patches? An Empirical Study on The Correct Patches Generated by Automated Program Repair Techniques</b>.
  In Proc. of the 2019 ACM/IEEE International Symposium on Empirical Software Engineering and Measurement (ESEM 2019), Porto de Galinhas-PE, Brazil, September 19-20, 2019. &nbsp 
  [<a href="../files/ESEM19_empirical.pdf">PDF</a>]  
  </LI>
</UL>
<UL>
  <LI><b>[POPL 2019]</b>
    Xin Yi, Liqian Chen, Xiaoguang Mao and Tao Ji.
    <b>Efficient Automated Repair of High Floating-Point Errors in Numerical Libraries</b>.
    In Proc. of the 46th ACM SIGPLAN Symposium on Principles of Programming Languages (POPL 2019), Proceedings of the ACM on Programming Languages (<b>PACMPL</b>), Vol. 3, No. POPL, Article 56, 29 pages, Cascais, Lisbon, Portugal, January 13 - 19, 2019. &nbsp 
    [<a href="../files/POPL19_FPrepair.pdf">PDF</a>]  [<a href="../files/https://github.com/yixin-09/AutoRNP">TOOL:AutoRNP</a>]
    </LI>
</UL>
<UL>
  <LI><b>[TCAD 2018]</b>
    Jiangchao Liu, Liqian Chen and Xavier Rival.
    <b>Automatic Verification of Embedded System Code Manipulating Dynamic Structures Stored in Contiguous Regions</b>.
    In Proc. of the 18th ACM SIGBED International Conference on Embedded Software (EMSOFT 2018), IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems (<b>TCAD</b>) special issue, September 30 - October 5, 2018, Torino, Italy. &nbsp 
    [<a href="../files/EMSOFT18_TCAD_array.pdf">PDF</a>]
  </LI>
</UL>
<UL>
  <LI><b>[COMPSAC 2018]</b>
    Tao Ji, Jinkun Pan, Liqian Chen, Xiaoguang Mao.
    <b>Identifying Supplementary Bug-fix Commits</b>.
    In Proc. of the 42nd IEEE Computer Society International Conference on Computers, Software & Applications (COMPSAC 2018), IEEE Computer Society, Volume 1, pp. 184-193, July 23-27, 2018, Tokyo, Japan. &nbsp 
    [<a href="../files/COMPSAC18_commits.pdf">PDF</a>]
  </LI>
</UL>
<UL>
  <LI><b>[APSEC 2017]</b>
    Xin Yi, Liqian Chen, Xiaoguang Mao and Tao Ji.
    <b>Efficient Global Search for Inputs Triggering High Floating-Point Inaccuracies</b>.
    In Proc. of the 24th Asia-Pacific Software Engineering Conference (APSEC 2017), IEEE Computer Society, pp. 11-20, December 4-8, 2017, Nanjing, China. (<span style="color:red"><b>Best Paper Award</b></span>) &nbsp 
    [<a href="../files/APSEC17_triggering.pdf">PDF</a>]
  </LI>
</UL>
<UL>
  <LI><b>[ICSME 2017]</b>
    Xin Yi, Liqian Chen, Xiaoguang Mao and Tao Ji.
    <b> Automated Repair of High Inaccuracies in Numerical Programs</b>.
    In Proc. of the 33rd IEEE International Conference on Software Maintenance and Evolution (ICSME 2017), IEEE Computer Society, pp. 514-518, September 17-24, 2017, Shanghai, China. &nbsp 
    [<a href="../files/ICSME17_repair.pdf">PDF</a>] &nbsp [<a href="../files/ICSME17_slides_yi.pdf">Slides</a>]
  </LI>
</UL>
<UL>
  <LI><b>[VMCAI 2017]</b>
    Jiahong Jiang, Liqian Chen, Xueguang Wu and Ji Wang.
    <b> Block-wise abstract interpretation by combining abstract domains with SMT </b>.
    The 18th International Conference on Verification, Model Checking, and Abstract Interpretation (VMCAI 2017), volume 10145 of <em>LNCS</em>, pages 310-329, Springer, Paris, France, January 15-17, 2017. &nbsp 
    [<a href="../files/VMCAI17_blockAI.pdf">PDF</a>] &nbsp [<a href="../files/VMCAI17_slides_jiang.pdf">Slides</a>]
  </LI>
</UL>
<UL>
  <LI><b>[TECS 2016]</b>
    Xueguang Wu, Liqian Chen, Antoine Min&eacute;, Wei Dong and Ji Wang.
    <b> Static Analysis of Run-Time Errors in Interrupt-Driven Programs via Sequentialization</b>.
    ACM Transactions on Embedded Computing Systems  (TECS) , Volume 15, Issue 4, Article No.70, pages 1-26, August 2016. &nbsp 
    [<a href="../files/TECS16_interrupt.pdf">PDF</a>]
  </LI>
</UL>
<UL>
  <LI><b>[COMPSAC 2016]</b>
    Tao Ji, Liqian Chen, Xiaoguang Mao and Xin Yi.
    <b> Automated Program Repair by Using Similar Code Containing Fix Ingredients</b>.
    In Proc. of the 40th IEEE Computer Society International Conference on Computers, Software & Applications (COMPSAC 2016), IEEE Computer Society, pp. 197-202, June 10-14, 2016, Atlanta, Georgia, USA. &nbsp 
    [<a href="../files/COMPSAC16_repair.pdf">PDF</a>]
  </LI>
</UL>
<UL>
  <LI><b>[EMSOFT 2015]</b>
    Xueguang Wu, Liqian Chen, Antoine Min&eacute;, Wei Dong and Ji Wang.
    <b> Numerical Static Analysis of Interrupt-driven Programs via Sequentialization</b>.
    In Proc. of the 15th ACM SIGBED International Conference on Embedded Software (EMSOFT 2015), ACM press, October 4-9, 2015, Amsterdam, The Netherlands. (<span style="color:red"><b>Best Paper Award Nomination</b></span>) &nbsp 
    <a href="../files/EMSOFT15_interrupt.pdf">PDF</a>] &nbsp [<a href="../files/EMSOFT15_slides_wu.pdf">Slides</a>]
  </LI>
</UL>
<UL>
  <LI><b>[SAS 2014]</b>
    Liqian Chen, Jiangchao Liu, Antoine Min&eacute;, Deepak Kapur and Ji Wang.
    <b> An Abstract Domain to Infer Octagonal Constraints with Absolute Value</b>.
    In Proc. of the 21st International Static Analysis Symposium (SAS 2014), volume 8723 of <em>LNCS</em>, pages 156-175, Springer, Munich, Germany, Setpember 11-13, 2014. &nbsp 
    [<a href="../files/SAS14_AVO.pdf">PDF</a>] &nbsp [<a href="../files/SAS14_slides_chen.pdf">Slides</a>]
  </LI>
</UL>
<UL>
  <LI><b>[NSAD 2014]</b>
    Xueguang Wu, Liqian Chen and Ji Wang.
    <b> An Abstract Domain to Infer Symbolic Ranges over Nonnegative Parameters</b>.
    In Proc. of the 5th International Workshop on Numerical and Symbolic Abstract Domains (NSAD 2014), volume 307 of <em>ENTCS</em>, pages 33-45, Munich, Germany, Setpember 10, 2014. &nbsp 
    [<a href="../files/NSAD14_PaRa.pdf">PDF</a>] &nbsp [<a href="../files/NSAD14_slides_chen.pdf">Slides</a>]
    </LI>
</UL>
<UL>
  <LI><b>[SCP 2014)]</b>
    Liqian Chen, Renjian Li, Xueguang Wu and Ji Wang.
  <b>Static Analysis of Lists by combining shape and numerical abstractions </b>.
  Science of Computer Programming (2014), http://dx.doi.org/10.1016/j.scico.2014.06.004. &nbsp 
  [<a href="../files/SCP14.pdf">PDF</a>]
    </LI>
</UL>
<UL>
  <LI><b>[JAM 2014)]</b>
  Liqian Chen, Jiahong Jiang, Banghu Yin, Wei Dong and Ji Wang.
  <b>Robustness Analysis of Floating-Point Programs by Self-Composition</b>.
  Journal of Applied Mathematics, vol. 2014, Article ID 789213, 12 pages, 2014. &nbsp 
  [<a href="../files/JAM14_robust.pdf">PDF</a>]
  </LI>
</UL>
<UL>
  <LI><b>[JZUSC 2014]</b>
  Ziying Dai, Xiaoguang Mao, Liqian Chen and Yan Lei.
  <b>Automatic recovery from resource exhaustion exceptions by collecting leaked resources</b>. Journal of Zhejiang University - SCIENCE C (Computers & Electronics), 15(8): 622-635 (2014). &nbsp 
  [<a href="../files/JZUSC14_recovery.pdf">PDF</a>]
  </LI>
</UL>
<UL>
  <LI><b>[ISSRE 2013]</b>
  Ziying Dai, Xiaoguang Mao, Liqian Chen, Yan Lei and Yi Zhang.
  <b>Finding Related Events for Specification Mining</b>.
  In Proc. of the 24th IEEE International Symposium on Software Reliability Engineering (ISSRE 2013)(Supplemental Proceedings), IEEE Computer Society, pp.1-2, Pasadena, CA, USA, November 4-7, 2013. &nbsp 
  [<a href="../files/ISSRE13_mining.pdf">PDF</a>]
  </LI>
</UL>
<UL>
  <LI><b>[WCRE 2013]</b>
  Ziying Dai, Xiaoguang Mao, Yan Lei, and Liqian Chen.
  <b> Leveraging Specifications of Subcomponents to Mine Precise Specifications of Composite Components</b>.
  In Proc. of the 20th Working Conference on Reverse Engineering (WCRE 2013), IEEE Computer Society, pp. 162-171, Koblenz, Germany, October 14-17, 2013. &nbsp 
  [<a href="../files/WCRE13_mining.pdf">PDF</a>]
  </LI>
</UL>
<UL>
  <LI><b>[SERE 2013]</b>
  Xueguang Wu, Yanjun Wen, Liqian Chen, Wei Dong, Ji Wang.
  <b>Data Race Detection for Interrupt-Driven Programs via Bounded Model Checking</b>.
  In Proc. of the 7th International Conference on Software Security and Reliability (SERE 2013) (Companion), IEEE Computer Society, pp. 204-210, Washington, D.C., USA, 18-20, June, 2013. &nbsp 
  [<a href="../files/SSCPS13_interrupt.pdf">PDF</a>]
  </LI>
</UL>
<UL>
  <LI><b>[SAC 2013]</b>
    Liqian Chen, Renjian Li, Xueguang Wu and Ji Wang.
    <b>Static Analysis of List-Manipulating Programs via Bit-Vectors and Numerical Abstractions</b>.
    In Proc. of the 28th Symposium On Applied Computing (SAC 2013), pages 1204-1210, ACM, Coimbra, Portugal, March 18-22, 2013. &nbsp 
    [<a href="../files/SAC13_list.pdf">PDF</a>] &nbsp [<a href="../files/SAC13_slides_chen.pdf">Slides</a>]
    </LI>
</UL>
<UL>
  <LI><b>[APSEC 2012]</b>
    Longming Dong, Ji Wang and Liqian Chen.
    <b> Modular Heap Abstraction-based Memory Leak Detection for Heap-manipulating Programs</b>.
    In Proc. of the 19th Asia-Pacific Software Engineering Conference (APSEC 2012), pages 20-29, IEEE, Hongkong, December 4-7, 2012. &nbsp 
    [<a href="../files/APSEC12_leak.pdf">PDF</a>] &nbsp [<a href="../files/APSEC12_slides_chen.pdf">Slides</a>]
  </LI>
</UL>
<UL>
  <LI><b>[ESOP 2011]</b>
    Liqian Chen, Antoine Min&eacute;, Ji Wang and Patrick Cousot.
    <b>Linear Absolute Value Relation Analysis</b>.
    In Proc. of the 20th European Symposium on Programming(ESOP 2011), volume 6602 of <em>LNCS</em>, pages 156-175, Springer, Saarbrucken, Germany, Mar 30-Apr 1, 2011. &nbsp 
    [<a href="../files/ESOP11_avi.pdf">PDF</a>] &nbsp [<a href="../files/ESOP11_slides_chen.pdf">Slides</a>]  
  </LI>
</UL>
<UL>
  <LI><b>[APLAS 2010]</b>
  Axel Simon and Liqian Chen.
  <b>Simple and Precise Widenings for H-Polyhedra</b>.
  In Proc. of the 8th Asian Symposium on Programming Languages and Systems (APLAS 2010), volume 6461 of <em>LNCS</em>, pages 139-155, Springer, Shanghai, China, Nov 28-Dec 1, 2010. &nbsp 
  [<a href="../files/APLAS10_widening.pdf">PDF</a>]    
  </LI>
</UL>
<UL>
  <LI><b>[VMCAI 2010]</b>
  Liqian Chen, Antoine Min&eacute;, Ji Wang and Patrick Cousot.
  <b>An Abstract Domain to Discover Interval Linear Equalities</b>.
  In Proc. of the 11th International Conference on Verification, Model Checking, and Abstract Interpretation (VMCAI 2010), volume 5944 of <em>LNCS</em>, pages 112-128, Springer, Madrid, Spain, Jan 17-19, 2010. &nbsp 
   [<a href="../files/VMCAI10_itvLinEqs.pdf">PDF</a>] &nbsp [<a href="../files/VMCAI10_slides_chen.pdf">Slides</a>]
  </LI>
</UL> 
<UL>
  <LI><b>[SAS 2009]</b>
    Liqian Chen, Antoine Min&eacute;, Ji Wang and Patrick Cousot. <b>Interval Polyhedra: An Abstract Domain to Infer Interval Linear Relationships</b>.
    In Proc. of the 16th International Static Analysis Symposium (SAS 2009), volume 5673 of <em>LNCS</em>, pages 309-325, Springer, Los Angeles, CA, USA, Aug 9-11, 2009.&nbsp 
    [<a href="../files/SAS09_itvPol.pdf">PDF</a>]
  </LI>
</UL>
<UL>
  <LI><b>[APLAS 2008]</b> 
    Liqian Chen, Antoine Min&eacute; and Patrick Cousot. <b>A Sound Floating-Point Polyhedra Abstract Domain</b>.
    In Proc. of the 6th Asian Symposium on Programming Languages and Systems (APLAS 2008), volume 5356 of <em>LNCS</em>, pages 3-18, Springer, Bangalore, India, Dec 9-11, 2008. &nbsp 
    [<a href="../files/APLAS08_fppol.pdf">PDF</a>]
  </LI>
</UL>